$bgcolor: #abc;
$header-bgcolor: #fff;
$about-bgcolor: #fff;
$content-bgcolor: #f6f;
$footer-bgcolor: #E5E5E5;

$text-color: #333;
$text-dark-color: $text-color;
$text-light-color: #eee;

$link-color: #0086A8;
$link-dark-color: $link-color;
$link-light-color: #ccc;

$tab-bgcolor: $bgcolor;
$tab-active-bgcolor: $content-bgcolor;

// -----------------------------------------------------------------------------

@mixin link($color=$link-color) {
  a {
    color: $color;
    text-decoration: none;
    &:visited {
      color: $color;
    }
    &:hover {
      color: lighten($color, 20%);
      text-decoration: underline;
    }
  }
}

@mixin inline-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    margin-right: 10px;
    &.last {
      margin-right: 0;
    }
  }
}

@mixin tab-list {
  @include link($link-light-color);
  ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    float: left;
    background-color: $tab-bgcolor;
    padding: 5px 10px;
    margin-right: 3px;
    &.last {
      margin-right: 0px;
    }
    &.active {
      @include link($text-color); 
      background-color: $tab-active-bgcolor;
    }
  }
}

@mixin round($r) {
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
}
@mixin border-r($px, $color, $r){
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
  border: $px solid $color;
}

@mixin row {
  padding: 10px 0;
}

@mixin bg-image($img,$w,$h) {
  background: url('/images/#{$img}') no-repeat ;
  display: block;
  width: $w;
  height: $h;
  text-indent: -999em;
  cursor: pointer;
  overflow: hidden;
}
@mixin border-bottom($r) {
  -webkit-border-bottom-left-radius: $r;
  -webkit-border-bottom-right-radius: $r;
  -moz-border-radius-bottomleft: $r;
  -moz-border-radius-bottomright: $r;
}
@mixin border-top($r) {
  -webkit-border-top-left-radius: $r;
  -webkit-border-top-right-radius: $r;
  -moz-border-radius-topleft: $r;
  -moz-border-radius-topright: $r;
}
@mixin button($bg-color, $border-color){
  padding: 5px;
  font-size: 1em;
  background: none;
  border: none;
  background-color: $bg-color ;
  cursor: pointer;
  @include border-r(1px, $border-color, 5px);
}


// -----------------------------------------------------------------------------

p {
	font-family: sans-serif;
	font-size: 0.9em;
	line-height: 1.5em;
  &.last {
    margin-bottom: 0;
  }
}
ul,ol,li,dd,dt{}
form {
  input, textarea {
    font-family: sans-serif;
    @include round(5px);
    &:focus{ background: #f5fdff url('/images/bg-textbox.png') repeat-x;}
  }
  input[type=text], input[type=password], textarea {
    border: 1px solid #b9ccd1;
    width: 350px;
    padding: 10px;
    font-size: 1em;
    margin-top: 5px;
  }
  input[readonly=readonly], textarea[readonly=readonly] {
    background-color: #eee;
    color: lighten($text-dark-color, 25%);
  }
  input#user_submit, input#publisher_submit, #publication_submit{
	  @include button(#19BAE3, #137e9a);
	  &:hover{ background-color: #1a8aa7;}
  }
  
  .field_with_errors {
    input {
      border: 2px solid red;
      background-color: #EAFFDE;
    }
  }
  div.resizable-textarea {
    display: block;
    textarea.resizable {
      width: 98%;
      height: 80px;
      display: block;
      margin-bottom: 0;
    }
    div.grippie {
      background: #eee url('/images/grippie.png') no-repeat scroll 50% 50%;
      border-color: #ddd;
      border-style: solid;
      border-width: 0 1px 1px 1px;
      cursor: s-resize;
      width: 98%;
      height: 9px;
      padding: 0 5px;
      overflow: hidden;
    }
  }
}
div#fancybox-content {
  div.resizable-textarea {
    textarea.resizable {
      width: 97%;
    }
  }
  div.grippie {
      width: 97%;
  }
}
#form_update_cip {
  width: 450px;
}

fieldset {
  border: 1px dotted #999;
  margin: 0 0 1.5em;
  padding: 0.8em 1em;
  legend {
      background: transparent url('/images/icons/expanded.png') no-repeat scroll 0 0;
      cursor: pointer;
      font: {
        size: 1.2em;
        weight: bold;
      }
      padding: 0 5px 0 20px;
  }
  &.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    legend {
        background: transparent url('/images/icons/collapsed.png') no-repeat scroll 0 0;
    }
  }
}

label {
  font-weight: bold;
  padding-right: 5px;
  margin-bottom: 5px;
  &.normal {
    font-weight: normal;
  }
}

span.required {
  color: red;
}

/********************** Layout *********************/
body {
  @include blueprint-typography-defaults;
  @include link;
	font-size: 16px;
	line-height: 1.5em;
  font-family: sans-serif;
  color: $text-dark-color;
  background-color: $footer-bgcolor;
  h1,h2,h3,h4,h5,h6{ margin-bottom: 10px;line-height: 1.3em;}
}

.container {
  @include container;
}

#user-ribbon {
  @include inline-list;
  @include link($link-light-color);
  color: $text-light-color;
  padding-top: 7px;
  padding-bottom: 7px;
  display: block;
  position: relative;
  width: 950px;
  #logo {
    @include column(3, true);
		@include bg-image('logo.png', 326px, 87px);
  }
  #user {
/*     @include column($blueprint-grid-columns - 3, true); */
/*     text-align: right; */
		position: absolute;
		right: 0px;
		top: 10px;
		.login{
			background-color: #eeeeee;
			float: left;
			padding: 10px;
			position: relative;
			top: -15px;;
			font-size: 0.9em;
			@include border-bottom(5px);
			color: #383939;
			a{ color: #0086a8;}
			span{ margin-right: 5px;}
		}
		li{ float: left;}
    .signup{
	    margin-right: 0px;
	    a{
			  @include bg-image('btn-signin-signup.png', 85px, 27px);
			  &:hover{
				  background-position: 0px -27px;
			  }
	    }
	  }
    .signin a{
		  @include bg-image('btn-signin-signup.png', 85px, 27px);
		  background-position: 0px -54px;
		  &:hover{
			  background-position: 0px -81px;
		  }
    }
    .signout{
	    border-left: 1px solid #CFCFCF;
	    padding-left: 10px;
    }
  }
}

#header-wrapper {
  background-color: $header-bgcolor;
}
#content-wrapper {
  padding: 20px 0px;
  background: url('/images/bg_content.png') ;
  #banner{
	  @include bg-image('banner-step-to-isbn.png', 950px, 305px);
	  cursor: default;
  }
  .step-to-isbn{
	  @include bg-image('h1-step-isbn.png', 326px, 36px);
	  margin: 10px 0px 15px;
  }
  .requset-block{
	  @include bg-image('bg-requset-button.png', 632px, 100%);
	  position: relative;
	  margin: 0 auto;
	  margin-top: 20px;
	  text-indent: 0em;
	  padding: 70px 0px 0px;
	  cursor: default;
	  p{ margin: 0px;}
	  .requset-button{
		  @include bg-image('btn-requset-isbn.png', 220px, 33px);
		  position: absolute;
		  top: 7px;
		  right: 7px;
		  &:hover{ background-position: 0px -33px;}
	  }
  }
}
#header, #footer {
  @include column($blueprint-grid-columns, true);
  padding-top: 5px;
}
#header {
	margin-bottom: 20px;
  #banner {
    height: 50px;
  }
  #navigations {
    @include inline-list;
    @include link($link-dark-color);
    display: block;
    overflow: hidden;
    float: right;
    margin: 50px 0px 0px;
    li {
	    @include link(#171a1c);
      padding: 5px;
      margin: 0px;
      font-size: 1.2em;
      &:hover {
        color: #1b94b3;
      }
    }
    .member{ margin: 0px 20px;}
    .right {
      float: right;
    }
  }
}

.about-block{
	padding: 20px;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	@include border-r(1px, #eaeaea, 5px);
}

#footer {
  color: #4b4a4a;
  padding: 20px 0px 10px;
  #footer-menu{
	  padding: 12px 0px 0px;
	  margin: 0px;
	  float: left;
	  li{
		  float: left;
		  list-style: none;
		  font-size: 0.8em;
	  }
	  .member{ margin: 0px 20px;}
  }
  #nstda{
	  @include bg-image('logo-nstda.png', 106px, 47px);
	  float: right;
  }
}

/* 8c0f49 tuxk*/

#breadcrumb {
  margin-bottom: 20px;
  .dashboard{}
  .cls-separator{ color: #cfcfcf;}
  .obj-separator{}
  .active{
	  font-size: 0.9em;
	  @include border-r(0px, #8c0f49,5px);
	  background-color: #8c0f49;
	  padding: 5px 5px 3px 5px;
  }
}

.one-col {
  #content {
    @include column($blueprint-grid-columns, true);
    
  }
}

.two-cols {
  overflow: hidden;
  #content {
/*     $content-columns: ceil(3 * $blueprint-grid-columns / 4); */
/*     @include column($content-columns); */
    @include border-r(1px, #eaeaea, 5px);
    background-color: #fff;
    float: left;
    width: 690px;
    margin-right: 20px;
    #breadcrumb{
	    background-color: #bf1e6b;
	    padding: 5px 10px;
	    color: #fff;
	    margin: 0px;
	    @include  border-top(5px);
	    a{color: #fff; font-size: 0.9em; &:hover{color: #cfcfcf;}}
    }
    .title{
			font-size: 1em;
			background: url('/images/icon.png') no-repeat 0px -136px;
			padding: 0px 0px 0px 25px;
			margin-bottom: 15px;
    }
    .page-block{padding: 20px; width: 650px;}
    .child-items {
      border-top: 1px solid #999;
      padding-top: 20px;
      ul{ padding-left: 20px;margin: 0px;}
      ul li{ margin: 0px;}
    }
    
  }
  #sidebar {
/*     $sidebar-columns: floor($blueprint-grid-columns / 4); */
/*     @include column($sidebar-columns, true); */
    @include border-r(1px, #eaeaea, 5px);
    background-color: #fff;
    padding: 20px 10px;
    float: left;
    width: 208px;
    h4{ margin: 0px 0px 10px;}
    .create-publisher a{
	    @include bg-image('/btn-add-publisher.png', 202px, 48px);
	    margin: 0px 0px 0px 3px;
	    &:hover{ background-position: 0px -48px;}
    }
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .new_publication, .edit_publisher, .edit-publication a, 
    .print-isbn a, .print-cip a,
    .export-isbn a, .export-cip a{
	    @include bg-image('btn-add-publisher.png', 202px, 48px);
	    background-position: 0px -96px;
	    margin: 0px 0px 10px 3px;
	    &:hover{ background-position: 0px -144px;}
    }
    .edit_publisher{
	    background-position: 0px -192px;
	    &:hover{ background-position: 0px -240px;}
    }
		.edit-publication a{
			background-position: 0px -288px;
			&:hover{ background-position: 0px -336px;}
		}
		.print-isbn a{
			background-position: 0px -384px;
			&:hover{ background-position: 0px -432px;}
		}
		.print-cip a{
			background-position: 0px -480px;
			&:hover{ background-position: 0px -528px;}
		}
		.export-isbn a{
			background-position: 0px -576px;
			&:hover{ background-position: 0px -624px;}
		}
		.export-cip a{
			background-position: 0px -672px;
			&:hover{ background-position: 0px -720px;}
		}
  }
}


/*************************** End Layout ***************************/

/********* ISBN Queue & CIP Queue & Completed Publications *********/
.page{list-style: none;}
#isbn_queue, #cip_queue, #completed{
	float: left;
	width: 310px;
	margin-right: 20px;
	list-style: none;
	#isbn_queue_items, #isbn_queue_items ul,
	#cip_queue_items, #cip_queue_items ul,
	#completed_items, #completed_items ul{ padding: 10px 0px 0px 0px; list-style: none;}
	#completed, #completed_items .info{ width: 620px !important;}
	#cip_queue_items li{ margin-bottom: 10px;}
	
	.info{ float: left; width: 300px;
		li{
			padding-left: 100px;
			margin: 0px !important;
			font-size: 0.9em;
			span{
				float: left;
				width: 60px;
			}
		}
		.cover{
			padding-left: 10px;
			float: left;
			width: 88px;
			}
	}
	.feature{
		background-color: #ededed;
		@include border-r(1px , #c6c6c6, 5px);
		padding: 7px !important;
		float: right;
		margin-bottom: 10px;
		li{float: left; margin: 0px !important;}
		a{@include bg-image('/icon.png', 18px, 17px);}
		.update{ background-position: 0px -34px; &:hover{ background-position: 0px -51px;}}
		.download{
			background-position: 0px -68px;
			height: 17px;
			margin: 0px 12px;
			&:hover{ background-position: 0px -85px;}}
		.print{
			background-position: 0px -102px;
			height: 18px;
			&:hover{ background-position: 0px -119px;}}
	}
}
#cip_queue{
	float: left;
	width: 310px;
	margin-right: 0px;
}
#completed{
	clear: both;
	width: 650px;
	.title{ margin-bottom: 0px !important;}
	#completed_items{ padding: 0px;}
}
.publications{
	list-style: none;
	padding: 0px !important;
	li{
		float: left;
		width: 640px;
		margin-bottom: 10px !important;
	}
	.cover{
		float: left;
		width: 88px;
	}
}

/* .publishers-list */
.publishers-list{
	margin-bottom: 10px;
	list-style: none;
	padding: 0px;
	li{ margin-bottom: 10px;}
  a{
    background: url('/images/icon.png') no-repeat 0px -17px;	
    padding: 0px 0px 0px 25px;
    height: 20px;
    &:hover{ background-position: 0px 0px;}
  }
}


/* tabs */
.isbn-tab, .cip-tab{
	background: #9d9d9d url(/images/bg-clip-right.png) no-repeat top right;
	float: left;
	padding: 5px 15px 3px 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-size: 1em;
}
.h4-title{
	background: url(/images/bg-clip-left.png) no-repeat 10px 0px;
	float: left;
	padding-left: 10px;
	border-bottom: 1px solid #9d9d9d;
	width: 100%;
}


ul.page {
  margin: 0;
  padding-left: 0;
  li {
		margin-bottom: 30px;
  }
  li.last, li li {
    margin-bottom: 0px;
  }
}

.tip {
  @include round(3px);
  @include link(#f33);
  background-color: #ffc;
  color: lighten($text-color, 15%);
  padding: 10px;
}
.two-cols .notice, .two-cols .alert, .two-cols #error_explanation{ margin: 20px 20px 0px;}
.notice, .alert, #error_explanation{
  padding: 20px;
  margin-bottom: 15px;
	background-color: #EAFFDE;
  margin: 10px 0px 15px;
  @include border-r(1px, #B1DE96, 5px);
}
.alert {
  color: red;
  border: 1px solid #e66;
  ul {
    margin: 0;
    padding-left: 0.8em;
  }
}
#error_explanation{
	h2{ margin: 0px; font-size: 1.1em; font-weight: bold; color: red;}
	ul{ margin: 0px;}
}

// ----------------------------------------------------------------------------

.center {
  text-align: center;
}

.hidden {
  display: none;
}
span.link{ padding: 0px 5px;}


/* form download */
.fancybox-ie6 #fancybox-close {
	background: url(/images/fancybox.png) repeat -40px 0px;
	background-color: none;
}

div#fancybox-content div.resizable-textarea textarea.resizable{
    width: 390px;
    @include border-bottom(0px);
}
div#fancybox-content div.grippie{ width: 400px !important;}
#fancybox-wrap{ width: 455px !important;}
#fancybox-content{
	border: none !important;
	padding: 20px;
	width: 420px !important;
}
#fancybox-content > div{ overflow: hidden !important;}
#form_update_cip {
    width: 420px;
}
h4.center{ line-height: 28px;}

