@import "blueprint";

/* To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
 +blueprint-ie

Recommended Blueprint configuration with scoping and semantic layout:
body {
  @include blueprint-ie(true);
   Note: Blueprint centers text to fix IE6 container centering.
   This means all your texts will be centered under all version of IE by default.
   If your container does not have the .container class, don't forget to restore
   the correct behavior to your main container (but not the body tag!)
   Example:
   .my-container
     text-align: left
}*/

body {
/*   @include blueprint-ie(true); */
}

* html .two-cols #content .page-block{ width: 610px !important;}
* html #navigations{ margin-top: -30px !important;}
*:first-child+html #navigations{ margin-top: -30px !important; padding-bottom: 20px;}
* html #isbn_queue, #cip_queue{ width: 295px;}
* html .publications li{ width: 610px;}
* html input, * html textarea{
	border: 1px solid #CCCCCC;
  font-size: 1em;
  margin-top: 5px;
  padding: 10px;
  vertical-align:  text-bottom;
}
*:first-child+html .collapsible,* html .collapsible{  background-color: #fff;}
* html .publishers-list a{
	background: url('/images/icon.png') no-repeat 0px -16px;
	height: 16px;
}
*:first-child+html .publishers-list a{
	background: url('/images/icon.png') no-repeat 0px -16px;
	height: 16px;
}
* html .publishers-list a:hover,
*:first-child+html .publishers-list a:hover{
	background-position: 0px 1px;
}
