//@font-face {
//	font-family: 'THSarabun';
//  src: url('public/fonts/angsa.ttf');
//}

@mixin center {
  text-align: center;
}

body {
  font: {
    family: 'Angsana New';
    size: 1em;
  }
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  overflow: hidden;
  list-style-type: none;
  padding-left: 0;
  ol li {
    display: list-item;
    overflow: visible;
    list-style-type: decimal;
    padding: 5px 0;
    div {
      float: left;
      &.v {
        padding: 0 5px;
        margin-left: 5px;
      }
    }
  }
}

.inline span {
  padding-right: 20px;
}

.clear {
  clear: both;
}

#header {
  font-size: 1.2em;
  text-align: center;
  padding: 20px 0;
}

#isbn {
  .w {
    float: right;
  }
  .k, .v {
    float: left;
  }
  .v {
    width: 13em;
    border-bottom: 1px dotted #666;
  }
}
